<nav class='navbar navbar-inverse'>
  <div  class='container-fluid'>
    <div class='navbar-header'>
      <a class='navbar-brand' href="#">MeTube</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= image_tag @user.image, id: 'userImage', class: 'img-circle img-responsive' %></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      <% else %>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% end %>
    </ul>
  </div>
</nav>

<div class='container'>
  <div class='row'>
    <div class='col-md-1'>
      <h3><%= @user.first_name %>'s Playlists</h3>
      <% @user.playlists.each do |playlist| %>
        <li<%= link_to playlist.name, playlist_path(playlist.id),
          class: 'play_list' %>></li>
      <% end %>
    </div>
  </div>
</div>
