
<div class='navbar navbar-inverse navbar-fixed-left'>
  <%= link_to 'Home', user_path(current_user.id), class: 'navbar-brand' %>
  <ul class='nav navbar-nav'>
    <h3><%= @user.first_name %>'s Playlists</h3>
    <% @user.playlist_videos.each do |name, playlist| %>
      <li><%= link_to name, playlist_path(name),
        class: 'play_list' %></li>
    <% end %>
  </ul>
</div>
