/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


.img-sample {
  width: 100%;
}

.col-md-4 {
  margin-bottom: 5px;
}

.search-box {
  float: right;

  //width: 150px;
  height: 40px;
  position: relative;
  margin: 11px 15px;
}

.search-box input,
.search-box .icon {
  transition-duration: .3s;
}

input {
  text-indent: 15px;
  height: 40px;
  z-index: 2;
  outline: none;
  color: #999;
  background: transparent;
  border: 1px solid #343434;
  border-radius: 5px;
  width: 150px;
  transition-timing-function: cubic-bezier(0.3, 1.5, 0.6, 1);
}

.search-box input:focus {
  color: #333;
  border-color: #343434;
  width: 200px;
}

input:focus ~ .icon {
  opacity: 1;
  z-index: 3;
  color: #FFFFFF;
}

.search-box .icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  text-align: center;
  line-height: 40px;
  z-index: 1;
  cursor: pointer;
  opacity: .5;
}

.img-sample {
  max-height: 50vmin;

  max-width: 50vmax;
}

.heart-frame {
  border-color: transparent;
  background-color: transparent;
}

.img-responsive {
  max-width: 25vmax;
}

.card-subtitle {
  height: 8vmax;
  overflow-y: scroll;
  font-size: 1.5vw;
}

.card-title {
  font-size: 2vw;
  color: white;
}

.landing-bg {
  background: url(https://assets.nflxext.com/ffe/siteui/vlv3/5e3955d1-a2b3-4753-bff2-875bf84330fa/412c42ad-ce5f-4c66-ad9f-3f63cab49b22/US-en-20171030-popsignuptwoweeks-perspective_alpha_website_small.jpg)
}

.page {
  padding: 15px 0 0;
}

.bmd-modalButton {
  display: block;
  margin: 15px auto;
  padding: 5px 15px;
}

.close-button {
  overflow: hidden;
}

.bmd-modalContent {
  box-shadow: none;
  background-color: transparent;
  border: 0;
}

.bmd-modalContent .close {
  font-size: 30px;
  line-height: 30px;
  padding: 7px 4px 7px 13px;
  text-shadow: none;
  opacity: .7;
  color: #fff;
}

.bmd-modalContent .close span {
  display: block;
}

.bmd-modalContent .close:hover,
.bmd-modalContent .close:focus {
  opacity: 1;
  outline: none;
}

.bmd-modalContent iframe {
  display: block;
  margin: 0 auto;
}

.model-backdrop {
  opacity: 0.0 !important;
}


.modal-dialog {
  margin: 0;
  padding: 0;
}

.modal-body {
  padding: 0;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#userImage {
  max-width: 3em;
  max-height: 3em;
  display: inline-block;
  vertical-align: middle;
  padding-top: 0.75em;
}

.modal {
  top: 20%;
  left: 50%;
  right: 50%;
  background: transparent;
}

.btn-secondary {
  width: .25em;
}

span.glyphicon-play {
  font-size: 3em;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

a.glyphicon-remove-circle {
  font-size: 3em;
  color: red;
  float: right;
}

body {
  background-color: rgba(0,0,0,0);
}

h5.card-title {
  color: black;
  font-size: 1.5em;
}

.glyphicon-plus {
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: 0;
}

.glyphicon-heart-empty {
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: 0;
}

#listSelect {
  width: 100px;
}

/***********************
  GRADIENT BUTTONS
************************/
.btn-primary.gradient {
    background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}
.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
    background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
}
.btn-primary.gradient:active, .btn-primary.gradient.active {
    background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}


#makeList .btn-primary {
  color: white !important;
  float: right;
  max-width: 20%;
}
